[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==0.24.2"
pandas = "==1.3.2"
streamlit = "==0.87.0"
matplotlib = "==3.4.3"
imbalanced-learn = "==0.8.0"
shapash = "==1.5.0"
mlflow = "==1.20.2"
fastai = "==1.0.61"

[dev-packages]

[requires]
python_version = "3.9"
